<% include partials/header %>

<section class="jumbotron text-center">
    <% if(step === 2) {%>
    <% var pName = playlistName %>
    <h3 style="margin-bottom: 30px"><strong>Playlist Name: "<%= playlistName %>"</strong></h3>
    <div class="row">
        <div id="list_container" class="source-list col-md-6">
            <% songs.forEach(function(song){ %>
            <div id="source_item_card" search_query="<%= song.search_text %>" class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="200px" height="200px" src="<%= song.img %>"
                        aria-label="Placeholder: Thumbnail">
                    <title><%= song.name %></title>
                    </svg>
                    <div class="card-body">
                        <h3 class="card-text"><%= song.name %></h3>
                        <p class="card-text"><strong><%= song.artists %></strong> - <%= song.album %></p>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <div class="col-md-6 step_2">
            <main role="main" class="youtube_main inner cover">
                <h1 class="cover-heading">Help me a little!</h1>
                <p class="lead">Click on the button and I'll search YouTube for the songs on the left. You'll need
                    to
                    choose the ones you want! </p>
                <p class="lead">
                    <button onclick="javascript:ytFetch()" class="btn btn-lg btn-secondary">Let's do
                        this!</button>
                </p>
            </main>
        </div>
        <div id="list_container" class="col-md-6 step_3" hidden>
            <main role="main" class="inner cover">
                <div class="destination-list list-group list-group-root well"></div>
            </main>
        </div>
    </div>
    <div class="container migrate_button" hidden>
        <button class="btn btn-lg btn-primary" onclick="javascript:migrate(false)">MIGRATE SELECTED ITEMS</button>
        <button class="btn btn-lg btn-success" onclick="javascript:migrate(true)">QUICK MIGRATE</button>
    </div>

    <% } else { %>
    <form action="/spotify/playlist" method="get">
        <input style='margin-bottom: 30px;' value="" name="spotify_playlist_uri" placeholder="URI" />
        <button class="btn btn-md btn-primary">
            Fetch
        </button>
    </form>
    <h2>Enter your spotify playlist URI above to fetch all songs to migrate </h2>
    <% } %>
</section>

<script>
    var selections = [];

    function ytFetch() {
        var searches = [];

        document.querySelectorAll('#source_item_card').forEach(function (element) {
            searches.push(element.getAttribute('search_query'));
        });

        fetch('/youtube/search', {
            method: 'POST',
            mode: 'same-origin',
            credentials: 'same-origin',
            headers: new Headers({
                "Content-Type": "application/json",
            }),
            body: new Blob([JSON.stringify({ searches }, null, 2)], { type: 'application/json' })
        })
            .then(response => response.json())
            .then(function (response) {

                var list = document.querySelector('.destination-list');

                Object.keys(response).forEach(function (search, i) {

                    var itemAnchor = document.createElement('a');
                    itemAnchor.classList.add('list-group-item')
                    itemAnchor.setAttribute('data-toggle', "collapse");
                    itemAnchor.setAttribute('href', `#item-${i}`);

                    var anchorGlyphicon = document.createElement('i');
                    anchorGlyphicon.classList.add('glyphicon');
                    anchorGlyphicon.classList.add('glyphicon-chevron-right');

                    itemAnchor.appendChild(anchorGlyphicon);

                    anchorGlyphicon.insertAdjacentText('afterend', search);

                    var listGroup = document.createElement('div');
                    listGroup.id = `item-${i}`;
                    listGroup.classList.add('list-group', 'collapse');

                    response[search].forEach(function (item, j) {
                        var listGroupItem = document.createElement('div');
                        listGroupItem.classList.add('list-group-item');
                        listGroupItem.id = `item-${i}-${j}`;

                        var itemElem = document.createElement('div');
                        itemElem.classList.add('card', 'd-flex', 'flex-row');

                        var img = document.createElement('img');
                        img.setAttribute('src', item.videoThumbnail);
                        img.setAttribute('alt', " ");
                        img.setAttribute('video-id', item.videoId);
                        img.addEventListener('click', function (event) {
                            window.open(`https://www.youtube.com/watch?v=${event.target.getAttribute('video-id')}`, "_blank")
                        });

                        var thumbnail = document.createElement('div');
                        thumbnail.classList.add('card-header', 'border-0', 'float-left');
                        thumbnail.appendChild(img);

                        var content = document.createElement('div');
                        content.classList.add('card-block', 'px-2', 'd-flex', 'flex-row', 'float-right');

                        var title = document.createElement('a');
                        title.classList.add('card-title', 'h4', 'text-center');
                        title.innerHTML = item.videoTitle;
                        title.setAttribute('href', `https://www.youtube.com/watch?v=${item.videoId}`)
                        title.setAttribute('target', '_blank');
                        title.setAttribute('video-id', item.videoId);

                        var buttonDiv = document.createElement('div');
                        buttonDiv.classList.add('m-auto', 'px-5');

                        var button = document.createElement('button');
                        button.classList.add('btn', 'btn-primary');
                        button.innerHTML = "Select";
                        button.setAttribute('video-id', item.videoId);
                        button.addEventListener('click', function (event) {
                            if (event.target.getAttribute('selected')) {
                                selections = selections.filter(selection => selection !== event.target.getAttribute('video-id'));
                                event.target.classList.remove('btn-danger');
                                event.target.classList.add('btn-primary');
                                event.target.innerHTML = 'Select';
                                event.target.removeAttribute('selected');
                            } else {
                                selections.push(event.target.getAttribute('video-id'));
                                event.target.classList.remove('btn-primary');
                                event.target.classList.add('btn-danger');
                                event.target.innerHTML = 'Remove';
                                event.target.setAttribute('selected', ' ');
                            }
                        });

                        buttonDiv.appendChild(button);

                        content.appendChild(title);

                        itemElem.appendChild(thumbnail);
                        itemElem.appendChild(content);
                        itemElem.appendChild(buttonDiv);

                        listGroupItem.appendChild(itemElem);
                        listGroup.appendChild(listGroupItem);
                    });

                    list.appendChild(itemAnchor);
                    list.appendChild(listGroup);
                });

                document.querySelector('.step_2').remove();
                document.querySelector('.migrate_button').removeAttribute('hidden');
                document.querySelector('.step_3').removeAttribute('hidden');
            });
    }

    function migrate(flgQuickMigrate) {
        if (!flgQuickMigrate) {
            if (selections.length) {
                var playlistName = "<%= pName %>";
                fetch('/youtube/playlists/create', {
                    method: 'POST',
                    mode: 'same-origin',
                    credentials: 'same-origin',
                    headers: new Headers({
                        "Content-Type": "application/json",
                    }),
                    body: new Blob([JSON.stringify({ playlistName, selections }, null, 2)], { type: 'application/json' })
                })


            } else {
                alert("What are you gonna do with an empty playlist? Select some songs!")
            }
        } else {
            alert("Sorry, I havent gotten there yet!");
        }
    }
</script>

<% include partials/footer %>